@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter-roman-latin.var.woff2) format('woff2');
}

@import 'tailwindcss';
@source './src/**/*.{js,ts,jsx,tsx}';
@source '../node_modules/@tremor/react/dist/**/*.{js,ts,jsx,tsx}';
@source '../node_modules/@headlessui/react/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import './tremor.css';

/* Reset tremor font-family */
:root {
  --tr-font-family: 'Inter var' !important;
}
